---
version: 2
updates:
  # Keep npm dependencies up to date
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: "daily"
      time: "12:30"
    reviewers:
      - "btlogy"
  # Keep Docker base images up to date
  - package-ecosystem: "docker"
    directory: "/docker/nodejs"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
    schedule:
      interval: "daily"
      time: "12:30"
    reviewers:
      - "btlogy"
  - package-ecosystem: "docker"
    directory: "/docker/ansible"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
    schedule:
      interval: "daily"
      time: "12:30"
    reviewers:
      - "btlogy"
  - package-ecosystem: "docker"
    directory: "/.github/actions/magic-wormhole-secret"
    schedule:
      interval: "daily"
      time: "12:30"
    reviewers:
      - "btlogy"
  - package-ecosystem: "docker"
    directory: "/ansible/files/docker/stack/feedback"
    schedule:
      interval: "daily"
      time: "12:30"
    reviewers:
      - "btlogy"
  - package-ecosystem: "docker"
    directory: "/ansible/files/docker/stack/mailbox"
    schedule:
      interval: "daily"
      time: "12:30"
    reviewers:
      - "btlogy"
  - package-ecosystem: "docker"
    directory: "/ansible/files/docker/stack/relay"
    schedule:
      interval: "daily"
      time: "12:30"
    reviewers:
      - "btlogy"
  - package-ecosystem: "docker"
    directory: "/ansible/files/docker/stack/traefik"
    schedule:
      interval: "daily"
      time: "12:30"
    reviewers:
      - "btlogy"
