# Workflow to continuously integrate and deploy Ansible playbook
name: Ansible

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/ansible.yml'
      - 'ansible/**'
      - 'docker/ansible*/*'
  pull_request:
    paths:
      - '.github/workflows/ansible.yml'
      - 'ansible/**'
      - 'docker/ansible*/*'

jobs:
  ansible:
    name: Ansible
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Prepare Ansible
        id: prepare_service
        uses: LeastAuthority/setup-docker-image@ee300e54f801db7fe7e933c7f44f586b0628e9b5 # v1.0.1
        with:
          context-dir: docker/ansible
          service-name: ansible-controller

      - name: Lint Ansible playbooks
        id: lint
        if: ${{ github.event_name != 'workflow_dispatch' }}
        run: |
          docker compose run \
          --rm \
          -e ANSIBLE_FORCE_COLOR=true \
          ansible-controller \
          ansible-lint
