name: Deploy

on:
  workflow_dispatch:
    inputs:
      key_code:
        description: 'Magic Wormhole key code'
        type: string
        required: true
      mailbox:
        description: 'Mailbox server'
        type: choice
        options:
          - 'wss://mailbox.mw.leastauthority.com/v1'
          - 'wss://mailbox.stage.mw.leastauthority.com/v1'
          - 'ws://relay.magic-wormhole.io:4000/v1'
        required: true
      transit:
        description: 'Transit server'
        type: choice
        options:
          - 'tcp:relay.mw.leastauthority.com:4001'
          - 'tcp:relay.stage.mw.leastauthority.com:4001'
          - 'tcp:transit.magic-wormhole.io:4001'
        required: true

jobs:
  check_cnx:
    name: Check connectivity
    runs-on: ubuntu-latest
    steps:
      - name: Pre-flight check
        run: |
          ls -lA .
          docker images

      - name: Checkout
        uses: actions/checkout@v3    

      # - name: Install Wormhole
      #   run: |
      #     sudo apt-get install magic-wormhole

      - name: Get ssh key
        id: get_ssh_key
        uses: ./.github/actions/magic-wormhole-cli
        with:
          path: ssh_key
          mode: 0600
          code: ${{ inputs.key_code }}
        # run: |
        #   wormhole \
        #   --relay-url ${{ inputs.mailbox }} \
        #   --transit-helper ${{ inputs.transit }} \
        #   receive \
        #   --accept-file \
        #   --output-file ssh_key \
        #   ${{ inputs.key_code }}
        #   chmod 0600 ssh_key

      - name: Intermediate check
        run: |
          echo ${{ steps.get_ssh_key.out }}
          ls -lA .
          docker images

      - name: Check ssh command
        run: |
          eval "$(ssh-agent -s)"
          ssh-add ssh_key
          ssh-add -L
          ssh -F ./ssh/config debian@vps-33320a1d.vps.ovh.net whoami
